doctype html
head
  title Pokemon
  meta(charset='UTF-8')
  meta(name='viewport' content='initial-scale=1.0')
  link(rel='stylesheet' href='styles.css')
.startPage
  img(src='pokemon.png' alt='pokemon')
  //
    <div id="name"></div>
    <div id="sprite"></div>
  button.start
    a(href='http://localhost:8080/abra')  Abra
  button.start
    a(href='http://localhost:8080/honedge')  Honedge
  script(src='fetch.js' async='')