doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title title
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='styles.css')
.card(style='width: 30vw;')
  #sprite
    img(src='International_Pokémon_logo.svg.png' alt='pokemon logo' id='logo')
  .card-body
    h5.card-title(align='center') Choose a pokemon!
    p(align='center')
    #buttons(align='center')
      a.btn.btn-primary(href='http://localhost:3000/gible') Gible
      a.btn.btn-primary(href='http://localhost:3000/cubone') Cubone
      a.btn.btn-primary(href='http://localhost:3000/pikachu') Pikachu
      a.btn.btn-primary(href='http://localhost:3000/squirtle') Squirtle